<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form *ngIf="!isLoading" (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        minlength="3"
        placeholder="Email Address"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid">Please enter valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Passwrd"
        name="password"
        ngModel
        #passwordInput="ngModel"
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter valid password</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Signup</button>
  </form>
</mat-card>
